.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 10px;

  p {
    font-weight: 500;
    color: #000000e6;
    font-size: 20px;
  }
}

.ant-spin-dot-item {
  background-color: #7243d1 !important;
}
