$mainPurple: #8c52ff;
$mainHoverPurple: #7243d1;

.posts-card {
  width: 40vw;
  background-color: whitesmoke;
  margin-top: 30px;
  border: 1px solid #b7b7b7;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

  .profile-info-container {
    display: flex;
    align-items: center;
  }

  .post-image {
    padding: 0px 15px;
  }

  .post-image-wrapper {
    display: flex;
    align-items: center;
    padding: 13px;
    gap: 5px;
  }

  .action-wrapper {
    display: flex;
    align-items: center;

    .action-icon {
      color: #212121;
      padding: 8px;
      cursor: pointer;
    }

    .edit:hover {
      background-color: #b7b7b7;
      border-radius: 20px;
      transition: ease all 0.3s;
    }

    .remove:hover {
      background-color: #b7b7b7;
      border-radius: 20px;
      transition: ease all 0.3s;
    }
  }

  .profile-info-wrapper {
    display: flex;
    flex-direction: column;
  }

  .profile-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid whitesmoke;
    cursor: pointer;
  }

  .profile-image:hover {
    border: 2px solid $mainPurple;
    transition: ease all 0.2s;
    opacity: 0.9;
  }

  .name-text {
    font-size: 14px;
    color: $mainPurple;
    font-weight: 600;
    margin: 10px 0 0 10px;
    cursor: pointer;
  }

  .headline-text {
    font-size: 12px;
    color: #00000099;
    font-weight: 600;
    margin: 0 10px;
  }

  .timestamp-text {
    font-size: 12px;
    color: #00000099;
    font-weight: 400;
    margin: 0 0 0 10px;
  }

  .status-text {
    text-align: left;
    margin: 10px 0 0 16px;
    font-size: 16px;
    font-weight: 400;
    color: #000000e6;
  }
}

.modal {
  width: 100%;
  height: 100%;
}
