$mainPurple: #8c52ff;
$mainHoverPurple: #7243d1;

.posts-card {
  width: 40vw;
  //min-height: 7em;
  background-color: whitesmoke;
  margin-top: 30px;
  border: 1px solid #b7b7b7;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

  .post-image-wrapper {
    display: flex;
    padding: 15px;
    gap: 10px;
    position: relative;
  }

  .profile-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
  }

  .name-text {
    font-size: 14px;
    color: $mainPurple;
    font-weight: 600;
    margin: 10px 0 0 10px;
    text-decoration: underline;
    cursor: pointer;
  }

  .timestamp-text {
    font-size: 12px;
    color: #00000099;
    font-weight: 400;
    margin: 0 0 0 10px;
  }

  .status-text {
    text-align: left;
    margin: 10px 0 0 10px;
    font-size: 14px;
    font-weight: 400;
    color: #000000e6;
  }
}
