.posts-card {
  width: 80vw;
  //min-height: 7em;
  background-color: whitesmoke;
  margin-top: 30px;
  border: 1px solid #b7b7b7;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

  .name-text {
    font-size: 14px;
    color: #00000099;
    font-weight: 600;
    margin: 10px 0 0 10px;
  }

  .timestamp-text {
    font-size: 12px;
    color: #00000099;
    font-weight: 400;
    margin: 0 0 0 10px;
  }

  .status-text {
    text-align: left;
    margin: 10px 0 0 10px;
    font-size: 14px;
    font-weight: 400;
    color: #000000e6;
  }
}
