$mainPurple: #8c52ff;
$mainHoverPurple: #7243d1;

.topbar-main {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.main-logo {
  width: 50px;
  margin-left: 20px;
}

.icons-wrapper {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.outline-icon {
  color: #787878;
  cursor: pointer;
}

.outline-icon:hover {
  color: $mainHoverPurple;
}

.user-icon {
  border: 2px solid $mainHoverPurple;
  border-radius: 50%;
  padding: 5px;
}

.user-icon:hover {
  color: #fff;
  background-color: $mainHoverPurple;
  transition: ease all 0.3s;
}

.popup-position {
  position: absolute;
  right: 10px;
  top: 65px;
  z-index: 99;
}

.search-results {
  position: absolute;
  right: 40px;
  top: 50px;
  width: 385px;
  height: 380px;
  background-color: #fff;
  border-radius: 0px 0px 10px 10px;
  cursor: pointer;
  z-index: 99;

  .search-wrapper {
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    padding: 5px;

    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .search-wrapper:hover {
    background-color: #bbb;
    transition: ease all 0.3s;
  }
}
