.topbar-main {
    width: 100%;
    height: 60px;
    background-color: #d47474;
    display: flex;
    align-items: center;
}

.main-logo {
    width: 50px;
    margin-left: 20px;
}

.icons-wrapper {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
}