$mainPurple: #8c52ff;
$mainHoverPurple: #7243d1;

.post-status-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  flex-direction: column;

  .user-details {
    width: 40vw;
    height: auto;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .user-profile-image {
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin-top: 15px;
      border-radius: 50%;
      border: 2px solid #fff;
      cursor: pointer;
    }

    .user-profile-image:hover {
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin-top: 15px;
      border-radius: 50%;
      border: 2px solid $mainPurple;
      transition: ease all 0.2s;
      opacity: 0.9;
    }
  }

  .post-status {
    width: 40vw;
    height: 100px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    .show-modal-btn {
      width: 15%;
      height: 3em;
      text-align: center;
      background-color: $mainPurple;
      border: none;
      outline: none;
      border-radius: 20px;
      font-weight: 600;
      cursor: pointer;
    }

    .show-modal-btn:hover {
      background-color: $mainHoverPurple;
      transition: ease all 0.2s;
    }
  }
}
