$mainPurple: #8c52ff;
$mainHoverPurple: #7243d1;

.new-post-modal-input {
  border: none;
  outline: none;
  background-color: #fff;
  color: #212121;
  font-size: 16px;
  width: 100%;
}

.post-btn {
  color: #fff;
  background-color: $mainPurple;
}

.post-btn:hover {
  background-color: $mainHoverPurple !important;
}