$mainPurple: #8c52ff;
$mainHoverPurple: #7243d1;

.profile-card {
  width: auto;
  min-height: 20vh;
  background-color: whitesmoke;
  margin: 30px;
  border-radius: 5px;
  padding: 20px;
  position: relative;

  .profile-info-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0px 20px;

    .info-right-wrapper {
      .college-text,
      .company-text {
        color: #000000e6;
        font-size: 14px;
        font-weight: 600;
        line-height: 30px;
      }

      .company-text {
        margin-top: -15px;
      }
    }
  }

  .username-text {
    color: #000000e6;
    font-weight: 600;
    font-size: 22px;
  }

  .heading-text {
    margin-top: -25px;
    color: #000000e6;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  .location-text {
  }

  .edit-btn-wrapper {
    position: absolute;
    right: 20px;
  }

  .edit-btn-icon {
    /* background-color: #fff;
    outline: none;
    border: none;
    color: red;
    cursor: pointer; */
  }
}

.profile-posts-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.no-posts-found {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.edit-btn-icon {
  font-size: 24px;
  color: $mainPurple;
  cursor: pointer;
  padding: 4px;
  border-radius: 20px;
}

.edit-btn-icon:hover {
  color: #fff;
  background-color: $mainPurple;
  transition: ease all 0.3s;
}
