$mainPurple: #8c52ff;
$mainHoverPurple: #7243d1;

.profile-card {
  width: 60vw;
  height: auto;
  background-color: whitesmoke;
  margin: 30px;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  .profile-info {
    display: flex;
    justify-content: space-between;
    .profile-image {
      width: 150px;
      height: 150px;
      object-fit: contain;
      border-radius: 50%;
      border: 2px solid #cacaca;
      padding: 5px;
      //margin-top: 10px;
      cursor: pointer;
    }
    .right-info {
      margin-top: 25px;
      margin-right: 20px;
      .college,
      .company {
        color: rgba(0, 0, 0, 0.9);
        font-size: 14px;
        font-weight: 600;
        line-height: 30px;
      }

      .company {
        margin-top: -15px;
      }
    }

    .edit-btn-wrapper {
      position: absolute;
      right: 20px;
    }
  
    .edit-btn {
      background-color: $mainPurple;
      outline: none;
      border: none;
      color: #fff;
      cursor: pointer;
      padding: 10px;
      border-radius: 8px;
      font-size: 14px;
    }
  
    .edit-btn:hover {
      background-color: $mainHoverPurple;
    }
  }

  .website {
    color: $mainPurple !important;
    -webkit-link: $mainPurple;
  }
  .skill-label {
    font-weight: 600;
  }
  .edit-btn {
    position: absolute;
    right: 20px;

    .edit-icon {
      cursor: pointer;
      padding: 10px;
    }

    .edit-icon:hover {
      background-color: rgb(197, 197, 197);
      padding: 10px;
      border-radius: 50%;
    }
  }
  .userName {
    color: rgba(0, 0, 0, 0.9);
    font-weight: 600;
    font-size: 24px;
    margin-top: 10px;
  }

  .heading {
    margin-top: -25px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
    width: 320px;
    line-height: 20px;
  }
}

.edit-btn-icon {
  font-size: 24px;
  color: $mainPurple;
  cursor: pointer;
  padding: 4px;
  border-radius: 20px;
}

.edit-btn-icon:hover {
  color: #fff;
  background-color: $mainPurple;
  transition: ease all 0.3s;
}
