.profile-card {
  width: auto;
  min-height: 20vh;
  background-color: whitesmoke;
  margin: 30px;
  border-radius: 5px;
  padding: 20px;
  position: relative;

  .profile-info-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0px 20px;

    .info-right-wrapper {
      .college-text,
      .company-text {
        color: #000000e6;
        font-size: 14px;
        font-weight: 600;
        line-height: 30px;
      }

      .company-text {
        margin-top: -15px;
      }
    }
  }

  .username-text {
    color: #000000e6;
    font-weight: 600;
    font-size: 22px;
  }

  .heading-text {
    margin-top: -25px;
    color: #000000e6;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  .location-text {
  }

  .edit-btn-wrapper {
    position: absolute;
    right: 20px;
  }

  .edit-btn {
    background-color: #fff;
    outline: none;
    border: none;
    color: red;
    cursor: pointer;
  }
}

.profile-status-main {
  width: 50vw;
  min-height: 20vh;
  background-color: whitesmoke;
  margin: 0px auto;
  border-radius: 5px;
  padding: 20px;
}
