$mainPurple: #8c52ff;
$mainHoverPurple: #7243d1;

.like-container {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 7px 10px;
  cursor: pointer;

  p {
    font-weight: 600;
    color: #000000cc;
    font-size: 14px;
  }
}

.liked-icon {
  color: $mainHoverPurple;
}

.no-liked-icon {
  color: $mainHoverPurple;
}
