$mainPurple: #8c52ff;
$mainHoverPurple: #7243d1;

.like-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 7px 10px;
  cursor: pointer;

  .like-comment {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  .comment-input {
    height: 35px;
    background-color: whitesmoke;
    border-radius: 30px;
    border: 1px solid #9c9c9c;
    outline: none;
    color: #212121;
    padding-left: 10px;
    font-size: 16px;
  }

  .comment-input:focus {
    border: 1px solid $mainPurple;
  }

  p {
    font-weight: 400;
    color: #9c9c9c;
    font-size: 12px;
    margin-left: 5px;
  }

  .likes-wrapper {
    display: flex;
    align-items: center;
    margin-top: -20px;

    .purple-icon {
      color: $mainHoverPurple;
    }

    .black-icon {
      color: #212121;
    }

    p {
      position: relative;
      top: 1.5px;
      font-weight: 500;
      color: #212121;
      font-size: 14px;
    }
  }
}

.liked-icon {
  color: $mainHoverPurple;
}

.no-liked-icon {
  color: $mainHoverPurple;
}

.how-many-liked {
  margin-bottom: -10px;
}

.hr-line hr {
  border-top: 1px solid #c4c4c4;
}

.add-comment-btn {
  width: 150px;
  height: 35px;
  background-color: $mainPurple;
  outline: none;
  border: none;
  border-radius: 30px;
  margin-top: 20px;
  cursor: pointer;
}

.add-comment-btn:hover {
  background-color: $mainHoverPurple;
  transition: ease all 0.3s;
}
