.profile-card {
  width: auto;
  min-height: 20vh;
  background-color: whitesmoke;
  margin: 30px;
  border-radius: 5px;
  padding: 20px;
  position: relative;

  .username-text {
    color: #000000e6;
    font-weight: 600;
    font-size: 22px;
  }

  .email-text {
    margin-top: -20px;
    color: #000000e6;
    font-size: 16px;
  }

  .edit-btn-wrapper {
    position: absolute;
    right: 20px;
  }

  .edit-btn {
    background-color: #fff;
    outline: none;
    border: none;
    color: red;
    cursor: pointer;
  }
}
