$mainPurple: #8c52ff;
$mainHoverPurple: #7243d1;

.profile-card {
  width: auto;
  min-height: 20vh;
  background-color: whitesmoke;
  margin: 30px;
  border-radius: 5px;
  padding: 20px;
  position: relative;

  .username-text {
    color: #000000e6;
    font-weight: 600;
    font-size: 22px;
  }

  .email-text {
    margin-top: -20px;
    color: #000000e6;
    font-size: 16px;
  }

  .edit-btn-wrapper {
    position: absolute;
    right: 20px;
  }

  .edit-btn {
    background-color: #fff;
    outline: none;
    border: none;
    color: red;
    cursor: pointer;
  }

  .edit-profile-inputs {
    display: grid;
    margin-top: 40px;
    gap: 20px;
    justify-content: center;

    input {
      width: 35vw;
      height: 20px;
      padding: 10px;
      background-color: #fff;
      border-radius: 3px;
      border: 0.5px solid #c7c7c7;
      color: #414141;
      font-size: 16px;
    }

    input:focus {
      outline: 0.5px solid $mainPurple;
    }
  }

  .save-btn {
    height: 6vh;
    margin-top: 20px;
    font-size: 16px;
    width: 20vw;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    background-color: $mainPurple;
    border: none;
    margin: 0 auto;
  }

  .save-btn:hover {
    background-color: $mainHoverPurple;
    transition: ease all 0.2s;
  }
}
