$mainPurple: #8c52ff;
$mainHoverPurple: #7243d1;

.profile-card {
  width: auto;
  min-height: 20vh;
  background-color: whitesmoke;
  margin: 30px;
  border-radius: 5px;
  padding: 20px;
  position: relative;

  .username-text {
    color: #000000e6;
    font-weight: 600;
    font-size: 22px;
  }

  .email-text {
    margin-top: -20px;
    color: #000000e6;
    font-size: 16px;
  }

  .edit-btn-wrapper {
    position: absolute;
    right: 20px;
  }

  .edit-btn {
    background-color: $mainPurple;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
  }

  .edit-btn:hover {
    background-color: $mainHoverPurple;
  }

  .edit-profile-inputs {
    display: grid;
    margin-top: 40px;
    justify-content: center;

    .title-text {
      text-align: center;
      font-size: 26px;
      color: #212121;
      font-weight: 600;
    }

    input {
      margin-bottom: 20px;
      width: 35vw;
      height: 20px;
      padding: 10px;
      background-color: #fff;
      border-radius: 3px;
      border: 0.5px solid #c7c7c7;
      color: #414141;
      font-size: 16px;
    }

    input:focus {
      outline: 0.5px solid $mainPurple;
    }
  }

  .save-btn {
    height: 6vh;
    margin-top: 20px !important;
    font-size: 16px;
    width: 20vw;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    background-color: $mainPurple;
    border: none;
    margin: 0 auto;
  }

  .save-btn:hover {
    background-color: $mainHoverPurple;
    transition: ease all 0.2s;
  }
}

.common-textarea {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 3px;
  border: 0.5px solid #c7c7c7;
  color: #414141;
  font-size: 16px;
}

.common-textarea:focus {
  outline: 0.5px solid $mainPurple;
}

.edit-btn-icon {
  font-size: 24px;
  color: $mainPurple;
  cursor: pointer;
  padding: 4px;
  border-radius: 20px;
}

.edit-btn-icon:hover {
  color: #fff;
  background-color: $mainPurple;
  transition: ease all 0.3s;
}
